{% extends 'shop_app/base.html'%}


{% block title %}
Личный кабинет пользователя

{% endblock %}

{% block content %}

<h2>Личный кабинет пользователя {{user.name}}</h2>
<table>

    <tr>
        <th>Имя</th>
        <th>Электронная почта</th>
        <th>Телефон</th>
        <th>Адрес</th>
    </tr>

    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.address }}</td>

    </tr>

    
    
</table>
<br>
<br>
<a href="{% url 'change_password' user.id %}">Изменить пароль</a>
<a href="{% url 'get_user_orders' user.id %}">Посмотреть список заказов</a>

{% endblock %}