{% extends 'shop_app/base.html'%}
{% load static %}


{% block title %}
Интернет-магазин футболок с принтами
{% endblock %}

{% block content %}
    {% if not products%}
    {{ message }}
    {% endif %}
    <ul>
    {% for item in products %}
    
    <li>
    {% if item.image %}
        <img src="{{ item.image.url }}" style="width: 150px; height: 160px; border: 1px solid red;"/>
                
    {% endif %}

    <a href="{% url 'product_card' user.id item.id %}">{{ item.name }}</a>

    {% if item.quantity < 1 %}
        Товар закончился
            
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}