{% extends 'shop_app/base.html'%}
{% load static %}



{% block title %}
Интернет-магазин футболок с принтами

{% endblock %}

{% block content %}

<h2>Заказ {{ order.id }} покупателя {{order.user.name}}</h2>

<table>
    <tr>
        <th>ID заказа</th>
        <th>Дата заказа</th>
        <th>Стоимость заказа</th>
        <th>Список товаров в заказе</th>
        <th>Статус заказа</th>
    </tr>

    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.total_price }}</td>
        <td><a href="{% url 'get_order_products' user.id order.id %}">Открыть список товаров</a>
        <td>{{ order.status }}</td>

    </tr>
</table>

{% endblock %}